<div class="row">
  <h1 class="text-center">Feed Farmer Joe's Animals</h1>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <p class="big-text text-center">
      <%= image_tag 'farmer-1.jpg', class: 'pull-right' %>
      My animals are hungry, can you help feed them?  Drag the hay with your mouse to each animal's mouth.  Watch out for wolves and snakes, we dont want to feed them!
    </p>
    <p class="big-text text-center">
       -- Farmer Joe
    </p>
  </div>
</div>
<div class="row">
  <div class="text-center">
  <canvas id="feed-animals-game"></canvas>
  </div>
</div>